<% const cssClasses = require('../cssClasses'); %>
<table class="<%= cssClasses['form-datagrid'] %>
    {{ ctx.component.striped ? ' ' + cssClasses['form-datagrid-striped'] : ''}}
    {{ ctx.component.hover ? ' ' + cssClasses['form-datagrid-hover'] : ''}}
    {{ ctx.component.condensed ? ' ' + cssClasses['form-datagrid-condensed'] : ''}}
    " {% if (ctx.component.layoutFixed || ctx.readOnly) { %}data-layout="fixed"{% } %}>
  {% if (ctx.hasHeader) { %}
  <thead class="<%= cssClasses['form-datagrid-header'] %>">
    <tr class="<%= cssClasses['form-datagrid-row'] %>">
      {% if (ctx.component.reorder) { %}<th class="<%= cssClasses['form-datagrid-header-cell'] %>"></th>{% } %}
      {% ctx.columns.forEach(function(col) { %}
        <th class="<%= cssClasses['form-datagrid-header-cell'] %> {{col.validate && col.validate.required ? cssClasses['form-datagrid-required'] : ''}}">
          {{ col.hideLabel ? '' : ctx.t(col.label || col.title, { _userInput: true }) }}
          {% if (col.tooltip) { %} <i ref="tooltip" tabindex="0" data-title="{{col.tooltip}}" class="<%= cssClasses['form-datagrid-tooltip'] %>" data-tooltip="{{col.tooltip}}"></i>{% } %}
        </th>
      {% }) %}
      {% if (ctx.hasExtraColumn) { %}
      <th class="<%= cssClasses['form-datagrid-header-cell'] %>">
        <span class="<%= cssClasses['form-datagrid-visually-hidden'] %>">{{ ctx.t('addOrRemove') }}</span>
        {% if (!ctx.builder && ctx.hasAddButton && ctx.hasTopSubmit) { %}
        <button class="<%= cssClasses['form-datagrid-add-row'] %>" ref="{{ctx.datagridKey}}-addRow" tabindex="{{ctx.tabIndex}}">
          <i class="{{ctx.iconClass('plus')}}"></i>{{ctx.t(ctx.component.addAnother || 'addAnother', { _userInput: !!ctx.component.addAnother })}}
        </button>
        {% } %}
      </th>
      {% } %}
    </tr>
  </thead>
  {% } %}
  <tbody class="<%= cssClasses['form-datagrid-body'] %>" ref="{{ctx.datagridKey}}-tbody" data-key="{{ctx.datagridKey}}">
    {% ctx.rows.forEach(function(row, index) { %}
    {% if (ctx.hasGroups && ctx.groups[index]) { %}
    <tr ref="{{ctx.datagridKey}}-group-header" class="<%= cssClasses['form-datagrid-group-header'] %>{{ctx.hasToggle ? ' ' + cssClasses['form-datagrid-group-header-clickable'] : ''}}">
      <td
        ref="{{ctx.datagridKey}}-group-label"
        colspan="{{ctx.numColumns}}"
        class="<%= cssClasses['form-datagrid-group-label'] %>">{{ctx.groups[index].label}}</td>
    </tr>
    {% } %}
    <tr ref="{{ctx.datagridKey}}-row" class="<%= cssClasses['form-datagrid-row'] %>">
      {% if (ctx.component.reorder) { %}
        <td class="<%= cssClasses['form-datagrid-cell'] %>">
          <button type="button" class="<%= cssClasses['form-datagrid-drag-button'] %>" data-key="{{ctx.datagridKey}}"></button>
        </td>
      {% } %}
      {% ctx.columns.forEach(function(col) { %}
        <td class="<%= cssClasses['form-datagrid-cell'] %>" ref="{{ctx.datagridKey}}" {% if (col.key && col.overlay && col.overlay.width) { %} data-width="{{col.overlay.width}}"{% } %}>
          {{row[col.key]}}
        </td>
      {% }) %}
      {% if (ctx.hasExtraColumn) { %}
        {% if (ctx.hasRemoveButtons) { %}
        <td class="<%= cssClasses['form-datagrid-cell'] %>">
          <button type="button" class="<%= cssClasses['form-datagrid-remove-row'] %>" ref="{{ctx.datagridKey}}-removeRow" tabindex="{{ctx.tabIndex}}" aria-label="{{ctx.t('remove')}}">
            <i class="{{ctx.iconClass('remove-circle')}}"></i>
          </button>
        </td>
        {% } %}
        {% if (ctx.canAddColumn) { %}
        <td ref="{{ctx.key}}-container" class="<%= cssClasses['form-datagrid-cell'] %>">
          {{ctx.placeholder}}
        </td>
        {% } %}
      {% } %}
    </tr>
    {% }) %}
  </tbody>
  {% if (!ctx.builder && ctx.hasAddButton && ctx.hasBottomSubmit) { %}
  <tfoot class="<%= cssClasses['form-datagrid-footer'] %>">
    <tr class="<%= cssClasses['form-datagrid-row'] %>">
      <td colspan="{{ctx.component.layoutFixed ? ctx.numColumns :  ctx.numColumns + 1}}" class="<%= cssClasses['form-datagrid-cell'] %>">
        <button class="<%= cssClasses['form-datagrid-add-row'] %>" ref="{{ctx.datagridKey}}-addRow" tabindex="{{ctx.tabIndex}}">
          <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'addAnother', { _userInput: !!ctx.component.addAnother })}}
        </button>
      </td>
    </tr>
  </tfoot>
  {% } %}
</table>
