<% const cssClasses = require('../cssClasses'); %>
<nav aria-label="navigation" id="{{ ctx.wizardKey }}-header" class="<%= cssClasses['form-wizard-header'] %>">
  <div class="<%= cssClasses['form-wizard-navigation-container'] %>">
    {% ctx.panels.forEach(function(panel, index) { %}
      <div class="<%= cssClasses['form-wizard-page'] %> 
          {{ctx.currentPage < index ? ' ' + cssClasses['form-wizard-page-disabled'] : ''}}
          {{ctx.currentPage === index ? ' ' + cssClasses['form-wizard-page-active'] : ''}}
          {{ctx.currentPage > index ? ' ' + cssClasses['form-wizard-page-complete'] : ''}}">
        <div class="<%= cssClasses['form-wizard-page-title'] %>">{{ctx.t(panel.title, { _userInput: true })}}</div>
        {% if (ctx.panels.length > 1) { %}
          <div class="<%= cssClasses['form-wizard-page-progress'] %>">
            <div class="<%= cssClasses['form-wizard-page-progress-bar'] %>"></div>
          </div>
        {% } %} 
        <span ref="{{ctx.wizardKey}}-link" class="<%= cssClasses['form-wizard-page-dot'] %>"></span>
      </div>
    {% }) %}
  </div>
</nav>
